@font-face {
    font-family: segled;
    src: url(segLED.ttf);
}

body{
	background-color: plum;
	margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
}

#setup{
	position: absolute;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	height: 4vw;
    text-align: center;
    vertical-align: middle;
    border-style: none;
	color: white;
    font-family: segled, monospace;
	font-size: 4vw;
}

#ip-address{
	background: black;
	border-style: none;
	color: white;
	text-align: right;
	font-family: segled, monospace;
	font-size: 4vw;
}
#ip-address:disabled{
	color: grey;
}

#port{
	background: black;
	border-style: none;
	color: white;
	text-align: left;
	font-family: segled, monospace;
	font-size: 4vw;
}
#port:disabled{
	color: grey;
}

#connect{
	background: black;
	border-style: none;
	color: white;
	font-family: segled, monospace;
	font-size: 4vw;
}
#connect:disabled{
	color: Red;
}

#ticker{
	position: absolute;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	height: 22vw;
    text-align: center;
    vertical-align: middle;
    border-style: none;
	color: Purple;
    font-family: segled, monospace;
	font-size: 20vw;
	text-shadow: 0 0 3vw black;
}

#ticker-ghost{
	position: absolute;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	height: 22vw;
    text-align: center;
    vertical-align: middle;
    border-style: none;
	color: plum;
    font-family: segled, monospace;
	font-size: 20vw;
	text-shadow: 0 0 3vw plum;
	z-index: -1;
}

#debug{
	position: absolute;
	color: white;
	font-family: monospace;
	font-size: 2vw;
	left:0; bottom:0;
}